.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}



body{
      font-family: sans-serif;
      margin: 0px;
  }

  table{
    width: 100%;
    text-align: left;
    background-color: #ffffff;
    margin-top:15px; 
    border-collapse: collapse;
  }


  th{
    color:#757575;
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
    padding-left: 24px;
  }

  thead > tr{
    height: 48px;
  }


  tr{
    color: #505050;
    height: 72px;
    border-bottom: 1px solid rgba(204, 204, 204, 0.27);
    width: 100%;
  }

  td{
    padding-left: 24px;
  }

  td:nth-child(1) {  
    width: 20%;
  }

  td:nth-child(2) {  
    width: 30%;
  }

  td:nth-child(3) {  
    width: 25%;
  }

  td:nth-child(4) {  
    width: 25%;
  }

  td:last-child{
    padding-right: 24px;
  }

  .input-margin{
      margin: 8px 8px;
  }

  .input-action{
    float: right;
  }

  input[type=text] {
      color: #404040;
      padding: 12px 20px ;
      display: inline-block;
      border: 1px solid #ccc;
      border-color: #ededed;
      box-sizing: border-box;
      height: 40px;
      font-size: 17px;
      font-weight: 500;
      background-color: rgba(241, 241, 241, 0.36);
      width: 100%;
  }
/**#909090**/
  input[type=submit] {
      background-color: #ededed;
      color: white;
      padding: 14px 20px;
      border: none;
      cursor: pointer;
      color: #757575;
  }

  input[type=submit]:hover {
    background-color: #adb5bd;
}



    .container{
      width: 976px;
      margin: 0 auto;
      background-color: #f1f1f1;
       height: 800px;
    }

    .header{
      padding: 32px;
      text-align: left;
      background-color: #adb5bd;
    }

    .header-left{
      height: 32px;
    }

    .header-logo{
      width: 32px;
      float: left;
    }
    .header-text{
      color: #fff;
      font-size: xx-large;
      margin-left: 20px;
    }

    .body{
      margin: 32px; 
    }

    .body-header{
      margin-top:50px;
      margin-bottom: 40px;
      margin-left: 0px;
      font-family: sans-serif;
      font-size: xx-large;
      color: #757575;
    }

    .add-new-form{
      padding: 8px;
      background-color: #fff;
      display: flex;
    }

    .pull-right{
      float: right;
    }

    .text-right{
      text-align: right;
    }

    .input-display:nth-of-type(1)
    {
      width: 20%;
    }

    .input-display:nth-of-type(2)
    {
      width: 30%;
    }

    .input-display:nth-of-type(3)
    {
      width: 25%;
    }
    .input-display:nth-of-type(4)
    {
      width: 25%;
    }

    .actions{
      font-size: 25px;

    }
 